.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
<<<<<<< HEAD
  margin-bottom: 10px;
=======
>>>>>>> c542332 (next js dashboard after chapter6)
}
